﻿html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
      padding-top: 40px;
  xpadding-bottom: 10px;
}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    margin: 20px 0;
}

.form-login {
    max-width: 350px;
    padding: 0px 15px 5px 15px;
    margin: 0 auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-login .form-control:focus {
            z-index: 2;
        }

    .form-login input[type="password"] {
        margin-top:5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .form-login input[type="text"] {
        margin-top:5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .form-login button[type="submit"] {
        margin-top:10px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .form-login select {
        padding-left: 5px !important;
        padding-top: 9px !important;
        padding-bottom: 9px !important;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #999999;
    }

    .form-login option[label="Sex"] {
        display: none;
    }
    
    .form-login option[label="Region"] {
        display: none;
    }

    .form-login option[label="City"] {
        display: none;
    }

    /* TODO: add .form-login */
    button.form-control.btn.btn-default {
        width: 35px;
    }
    
    .form-login .form-control.panel {
        margin-top: -5px;
        border-color: #cccccc;
    }
    
    .form-login .form-control.panel .panel-body {
        padding: 0;
        color: #999999;
    }
    
    .form-login .form-control.panel .panel-body {
        padding: 0;
        color: #999999;
    }

    .form-login .avatar-image {
        vertical-align: top;
    }

    .form-login .avatar-block {
        display: inline-block;
    }

    .form-login .avatar-right {
        float: right;
        cursor: pointer;
    }

    .form-login .avatar-edit-icon {
        position: absolute;
        top: 12px;
        color: #5BC0DE;
        display: none;
    }

    .form-login .dropdown-menu table {
        min-width: 318px;
    }

    .form-login .input-group {
        margin-top: -5px;
        margin-bottom: 5px;
    }

    /* ui-bootstrap cursor fix */
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

/*
.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

    .hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}*/

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    cursor: pointer;
}

.poster500px {
  object-fit: cover;
  height: 500px;
  width: 100%;
}

.poster100px {
  object-fit: cover;
  height: 100px;
  width: 100%;
}

.poster100pxfooter {
    position: absolute;
    height: 22px;
    top: 78px;
    align-content: center;
    width: 100%;
    color: white
}

.overlaytext {
    align-content: center;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    font-size: 60px;
    color: white;
    font-weight: bold;
    display: block;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.refreshglypicon {
    float: right;
    font-size: 18px;
    padding-top: 6px;
    cursor: pointer;
}

.font-bold {
    font-weight: bold;
}

.equal-button-container {
    margin-left: -50%;
    display: block;
    position: relative;
}

.equal-button {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    margin-left: -20px;
    width: 40px;
    height: 160px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.equal-button:hover {
    margin-left: -80px;
    width: 160px;
}

.equal-button-content {
    border-radius: 50%;
    line-height: 160px;
    color: transparent;
}

.equal-button-content:hover {
    height: 160px;
    width: 160px;
    font-size: 160px;
    color: white;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}
