﻿<!DOCTYPE html>
<html data-ng-app="FilmsRate">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Films Rating</title>
    <link href="content/css/bootstrap.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/ui-bootstrap-csp.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a data-ng-hide="authentication.isAuth" class="navbar-brand" href="#/">Home</a>
                <a data-ng-hide="!authentication.isAuth" class="navbar-brand" href="#/vote">Home</a>
            </div>
            <div class="uib-collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#/vote">Welcome, {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/vote" class="font-bold">Vote</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/rating" class="font-bold">Rating</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/settings" class="font-bold">Settings</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div data-ng-view="">
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">Created by Evgeny Agapov. Email: <a target="_blank" href="mailto:anahor0191@gmail.com">anahor0191@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 3rd party libraries -->
    <script src="scripts/jquery-2.2.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/ui-bootstrap.min.js"></script>
    <script src="scripts/ui-bootstrap-tpls.min.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script> 
    <!-- Load directives -->
    <script src="app/directives/fileModel.js"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/filmrateService.js"></script>
    <script src="app/services/fileService.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/welcomeController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/errorController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/signupController.js"></script>
    <script src="app/controllers/voteController.js"></script>
    <script src="app/controllers/ratingController.js"></script>
    <script src="app/controllers/settingsController.js"></script>
</body>
</html>