﻿<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>{{title}}</h1>
        </div>
        <p class="text-center">{{message}}</p>
    </div>
</div>