﻿<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>Rate your films!</h1>
        </div>
        <p>This website's goal is to help you with creating objective ratings for films you ever watched. The alghoritm of rating calculation is an <a href="https://en.wikipedia.org/wiki/Elo_rating_system">"Elo rating"</a>(click to get more info). It means you just need to select the film you liked more than another and the system will calculate the rating for you automatically. Sign up to start!</p>
    </div>
</div>
<hr/>