﻿<br />
<h3>Films rating based on your votes:</h3>
<br />
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Rating</th>
                    <th>Normalized rating</th>
                    <th>Film</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="film in watchedfilms | orderBy:'-rating'">
                    <td>
                        {{ film.rating }}
                    </td>
                    <td>
                        {{ (film.rating + offset) * scale | number:2 }}
                    </td>
                    <td>
                        {{ film.nameEn }} &#92; {{ film.nameRu }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
<br />