﻿<br />
<h3>KP connection configuration:</h3>
<br />
<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label for="uuid" class="col-lg-2 control-label" style="margin-top: 2px;"><span>UUID:</span></label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="uuid" placeholder="UUID" data-ng-model="kpsettings.uuid" ng-disabled="!canUpdate">
            </div>
        </div>
        <div class="form-group">
            <label for="phpsessid" class="col-lg-2 control-label" style="margin-top: 2px;"><span>PHPSESSID:</span></label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="phpsessid" placeholder="PHPSESSID" data-ng-model="kpsettings.phpsessid" ng-disabled="!canUpdate">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" style="margin-top: 2px;"><span>KP EXPORT FILE:</span></label>
            <div class="input-group col-lg-10" style="padding-left: 15px; padding-right: 15px;">
                <input type="file" file-model="kpExportFile" class="form-control" placeholder="No file choosen" style="display: none" id="exportfileinput" ng-disabled="!canUpdate">
                <input type="text" data-ng-model="exportfilename" class="form-control" placeholder="No file choosen" ng-disabled="!canUpdate">
                <span class="input-group-btn">
                    <button class="btn btn-default glyphicon glyphicon-folder-open" type="button" style="top: 0px;" onclick="document.getElementById('exportfileinput').click(); return false;"></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right btn-sm" style="margin-right: 15px;" data-ng-click="saveKpSettings()" ng-disabled="!canUpdate">Submit</button>
        </div>

        <div data-ng-hide="settingsmessage == ''" data-ng-class="(settingsSavedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{settingsmessage}}
        </div>
    </fieldset>
</form>
<br />
