﻿<form class="form-login" role="form">
    <h2 class="form-login-heading">Sign up</h2>
    <input type="text" class="form-control" placeholder="Email" data-ng-model="registration.userName" required autofocus>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
    <hr/>
    <input type="text" class="form-control" placeholder="First Name" data-ng-model="registration.firstName">
    <input type="text" class="form-control" placeholder="Last Name" data-ng-model="registration.lastName">
    <input type="text" class="form-control" placeholder="Nick Name" data-ng-model="registration.nickName">
    <select class="form-control" id="sex" data-ng-options="item as item.label for item in sexoptions" data-ng-model="sexselected" data-ng-change="sexSelected()" ng-disabled="true"></select>
    <hr />
    <select class="form-control" id="region" data-ng-options="region as region.label for region in regions" data-ng-model="regionselected" data-ng-change="regionSelected()" ng-disabled="true"></select>
    <select class="form-control" id="city" data-ng-options="city as city.label for city in cities" data-ng-model="cityselected" data-ng-change="citySelected()" ng-disabled="true"></select>
    <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" placeholder="Birth Date" data-ng-model="birthdate.date" is-open="birthdate.opened" show-button-bar="false" datepicker-options="dateOptions" ng-disabled="true"/>
        <span class="input-group-btn">
                <button type="button" class="form-control btn btn-default" data-ng-click="openDatepicker($event)"><i class="glyphicon glyphicon-th" ng-disabled="true"></i></button>
        </span>
    </p>
    <div class="form-control panel panel-default">
        <div class="panel-body">
            <div class="avatar-block">
                Photo
            </div>
            <div class="avatar-block avatar-right" ng-mouseover="showEdit()" ng-mouseleave="hideEdit()">
                <img class="avatar-image" src="content/images/avatar.png"/>
                <i class="glyphicon glyphicon-pencil avatar-edit-icon"></i>
            </div>
        </div>
    </div>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>