﻿<br/>
<div class="h3">
    Add films you seen before:
    <span class="glyphicon glyphicon-refresh refreshglypicon" ng-click="loadUnwatchedFilms()"></span>
</div>
<div class="row">
    <div class="col-lg-4" data-ng-repeat="film in unwatchedfilms">
        <div class="panel panel-default hovereffect">
            <div class="overlay" ng-click="addWatched(film)">
                <div class="overlaytext">+</div>
            </div>
            <img class="img-responsive poster100px" src="{{ film.posterUrl }}" alt="">
            <div ng-if="film.nameEn" class="poster100pxfooter">{{ film.nameEn }}</div>
            <div ng-if="!film.nameEn" class="poster100pxfooter">{{ film.nameRu }}</div>
        </div>
    </div>
    <div ng-if="unwatchedfilms.length < 1" class="col-lg-12 text-center">
        <h4> No unwatched films found </h4>
        <br />
    </div>
</div>

<div class="h3">
    Choose the one you liked more than another:
    <span class="glyphicon glyphicon-refresh refreshglypicon" ng-click="loadComparablePair()"></span>
</div>
<div class="row row-eq-height">
    <div class="col-lg-6" data-ng-repeat="film in comparablepair" ng-if="comparablepair.length > 1">
        <div class="panel panel-default hovereffect">
            <div class="overlay" ng-click="vote(film)">
                <div class="overlaytext glyphicon glyphicon-thumbs-up"></div>
            </div>
            <div class="panel-body">
                <img class="img-responsive poster500px" src="{{ film.posterUrl }}" alt="">
                <h4>{{ film.nameEn }} / {{ film.nameRu }}</h4>
                <h4 ng-if="film.year">{{ film.year }}</h4>
                <p>{{ film.genre }}</p>
                <p>{{ film.description }}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-0 equal-button-container" style="margin-left: -50%;" ng-if="comparablepair.length > 1">
        <div class="equal-button">
            <div class="equal-button-content" ng-click="vote()">=</div>
        </div>
    </div>
    
    <div ng-if="comparablepair.length < 2" class="col-lg-12 text-center">
        <h4> No watched films found </h4>
        <br/>
    </div>
</div>
<br />