﻿<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>Rate your films!</h1>
        </div>
        <p>This website's goal is to help you with creating objective ratings for films you ever watched. The alghoritm of rating calculation is an <a href="https://en.wikipedia.org/wiki/Elo_rating_system">"Elo rating"</a>(click to get more info). It means you just need to select the film you liked more than another and the system will calculate the rating for you automatically. Sign up to start!</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to login.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the system.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>